# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CSCI 115\Lab4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
